<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateNew Post</title>
</head>

<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="username" name="username">
        <hr>
        <textarea name="content" id="content" cols="10" rows="5" placeholder="write your content"></textarea>
        <button>Submit post</button>
    </form>
</body>

</html>